<!-- Install your choice of three.js version from CDN: -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@0.137.0/build/three.min.js"></script>

<!-- Load a Controls instance, making sure that the version matches the Three.js version above: -->
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/three@0.137.0/examples/js/controls/OrbitControls.js"></script>

<!-- Install the latest MathBox, either mathbox.js or mathbos.min.js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathbox@latest/build/bundle/mathbox.js"></script>

<!-- Include the MathBox CSS: -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mathbox@latest/build/mathbox.css" />

<!-- Include the JSXGraph CSS and JavaScript files: -->
<link rel="stylesheet" type="text/css" href="https://jsxgraph.org/distrib/jsxgraph.css" />
<script type="text/javascript" src="https://jsxgraph.org/distrib/jsxgraphcore.js"></script>